[Ll]ibrary/
[Ll]ogs/
[Tt]emp/
[Oo]bj/
.vs/PrincessBakuKolak/FileContentIndex/1744d1f8-475a-406c-90d1-448940003b30.vsidx
.vs/PrincessBakuKolak/FileContentIndex/1ffe0c31-aec2-438f-a6b6-c086ddfbc0a1.vsidx
.vs/PrincessBakuKolak/FileContentIndex/24a5b233-7066-41cf-bbec-fa445d8dfba0.vsidx
.vs/PrincessBakuKolak/FileContentIndex/c3486aa3-12fd-492b-98ea-0cc95b255b81.vsidx
